@define-color bg rgba(0,0,0,0.4);
@define-color text rgba(255, 255, 255, 0.7);
@define-color border #9ccfd8;

* {
    color: @text;
    font-size: 12px;
    padding: 0px 2px 0px 0px;
    margin: 0;
}


#waybar {
    background: @bg;
}

#workspaces,
#cpu,
#clock {
    padding: 0px 5px; 
}

#workspaces button {
    padding: 1px 10px;
}



#clock {
    font-weight: bold;
}
